.world{
  position: relative;
}
.world-row{
  display: flex;
}
.world-cell{
  /* box-shadow: inset 0 0 1px black; */
  min-height: 20px;
  min-width: 20px;
}
.enemy{
  background-color: red;
  transition: all 1s linear;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
}
.character{
  background-color: blue;
  transition: all 1s linear;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
}